{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-shortener</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
<main class="container">
    <h1>URL Shortener</h1>
    <h3>Welcome to URL shortener!</h3>
    <h3>Our app is simple, enter your URL into the form and click on the 'Add Url' button</h3>
    {% block content %}
    {% endblock content %}
</main>  
    
</body>
</html>